<!DOCTYPE HTML>
<html>

    <%- include('include/head') %>

    <body>
        <p>当前时间：<%= currentTime %></p>
        <p><a href="/wechat">wechat</a></p>
        <button id="chooseImage">chooseImage</button>
        <button id="openLocation">openLocation</button>
        <button id="scanQRCode">scanQRCode</button>
    </body>

    <script src="/js/index.js"></script>

</html>
